:root {
  --gutter: 15px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 18px;
}
body,
p,
h1,
h2,
h3,
ul,
ol {
  margin: 0;
  padding: 0;
}
.header {
  background-color: lightcoral;
}

.container {
  background-color: #eee;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > div {
  padding: 15px;
  margin: 0 auto;
  background-color: lightcyan;
  border: 1px solid slategray;
}
.col-3 {
  width: calc(25% - var(--gutter));
}
.col-6 {
  width: calc(50% - var(--gutter));
}
.col-12 {
  width: calc(100% - var(--gutter));
}
.col-4 {
  width: calc(33.33% - var(--gutter));
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  .col-lg-6 {
    width: calc(50% - var(--gutter));
  }
  .col-lg-3 {
    width: calc(25% - var(--gutter));
  }
  
  .col-lg-12 {
    width: calc(100% - var(--gutter));
  }
  .col-lg-4 {
    width: calc(33.33% - var(--gutter));
  }
  
}
@media screen and (max-width: 768px) {
  .col-md-6 {
    width: calc(50% - var(--gutter));
  }
  .col-md-3 {
    width: calc(25% - var(--gutter));
  }
  
  .col-md-12 {
    width: calc(100% - var(--gutter));
  }
  .col-md-4 {
    width: calc(33.33% - var(--gutter));
  }
}
@media screen and (max-width: 578px) {
  .col-sm-6 {
    width: calc(50% - var(--gutter));
  }
  .col-sm-3 {
    width: calc(25% - var(--gutter));
  }
  
  .col-sm-12 {
    width: calc(100% - var(--gutter));
  }
  .col-sm-4 {
    width: calc(33.33% - var(--gutter));
  }
}

